###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

.

#setuptools~=58.3.0
#OctoPrint~=1.7.2
#PyP100~=0.1.2
#Flask~=1.1.4
#uptime~=3.0.1
